<div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <style>h1{text-align: center;}</style>
                <h1>Recuperación de contraseña</h1>
            </div>
            <div class="card-body"></div>

            <div class="card-footer">
                <form action="/email" method="POST">
                              
                    <div class="form-group">
                        <input type="email" name="correo" placeholder="Correo" value="{{correo}}" id="Correo" class="form-control" required>
                    </div>
                    
                    <button class="btn btn-lg btn-primary"> <style> button{width: 100%;} </style> Enviar correo</button>
                    <br><br>     
                </form>
            </div>
        </div>
    </div>